:root {
    --menu-bg: #123;
    --menu-fg: #def;
    --page-bg: #456;
    --page-fg: #fc9;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/static/font/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(/static/font/MaterialIcons-Regular.woff2) format('woff2'),
         url(/static/font/MaterialIcons-Regular.woff) format('woff'),
         url(/static/font/MaterialIcons-Regular.ttf) format('truetype');
}
 .material-icons {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 50px;  /* Preferred icon size */
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;
 
   /* Support for all WebKit browsers. */
   -webkit-font-smoothing: antialiased;
   /* Support for Safari and Chrome. */
   text-rendering: optimizeLegibility;
 
   /* Support for Firefox. */
   -moz-osx-font-smoothing: grayscale;
 
   /* Support for IE. */
   font-feature-settings: 'liga';
}
* {
    /* font-family: 'Courier New', Courier, monospace; */
    margin: 0;
    padding: 0;
}
 
body {
    background: var(--page-bg);
    color: var(--page-fg);
}
.page{
    margin: 10px;
    width: 450px;
    height: 290px;
    border: var(--menu-bg) solid 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4em;
    background-color: var(--menu-bg);
}
nav li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
nav a{
    text-decoration: none;
    color: #def;
}

main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
main h1 {
    font-size: 72px;
}
.button a{
    text-decoration: none;
    font-size: x-large;
    font-weight: bolder;
    padding:1em;
    background-color: var(--menu-fg);
    color: var(--menu-bg);
    user-select: none;
    cursor: pointer;
}
.left a{
    border-radius: 0 10px 10px 0;
}
.right a{
    border-radius: 10px 0 0 10px;
}

.data-container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.data-item{
    display: none;
}

footer {
    font-size: small;
    text-align: center;
    background-color: var(--menu-bg);
    color: var(--menu-fg);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--menu-bg);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active{
    background-color: var(--menu-fg);
}
.color-normal{
    color:var(--menu-fg);
}
.color-error{
    color: red;
}
.color-alarm{
    color: yellow;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}